@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

iframe {
    pointer-events: none;
}


html {
    color: #363636;
    font-family: Monaco, monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}

.selected_biomarker_bar {
    stroke: #7399ff !important;
    stroke-width: 4 !important;
    /*font-color: white !important;*/
    fill-opacity: 0.6 !important;
}

.selected_biomarker_text_color {
    stroke: white !important;
    fill: white !important;
    stroke-width: 1 !important;
    font-size: 12px !important;
}

.non_selected_biomarker_bar {
    /*stroke: #7399ff !important;*/
    /*stroke-width: 4 !important;*/
    /*fill-opacity: 1 !important;*/
    /*font-color: white !important;*/
    fill-opacity: 0.1;

}

#NewControl {
    color: black;
    margin-top: 50px !important;
    padding-bottom: 20px !important;

    background: white;
}


#zoom_controls {
    text-align: right;
    margin-top: 10px;
    /*flex-basis: 75% !important;  view on the left*/
    /*max-width: 75% !important;*/
}

#mention_search_input {
    width: 100%;
    margin-bottom: 15px;
}

#mentions_label {
    font-size: 18px !important;
    font-family: Monaco, monospace;
}

#search_label {
    margin-top: 5px;
}

#sort_label {

}

.search_lab {

}

#report_mentioned_terms {
    margin-top: -9px;
    /*height: 500px; !*change it so it's dynamic with main view*!*/
    overflow-y: auto;
}

#confidenceValue {
    font-size: 25px;
}


/*#mentions_container,*/
/*#report_instance {*/
/*    margin: 0 !important;*/
/*    padding: 0 !important;*/

/*}*/
/*delete to revert*/
/*#report_id {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    float: right;*/
/*    padding: 5px;*/
/*}*/
/*delete to revert*/


.scroll-lines {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px; /* Width of the lines */
    background-color: red; /* Color of the lines */
}


#mentions_container2 {
    padding: 0 !important;
    margin-top: -5px !important;
    max-width: 100%;
    flex-basis: 14% !important;
}

#term_container2 {
    flex-direction: column;
    flex: 0 0;
}


.mentioned_terms_list_border {
    border-style: solid;
}

.mentions_container2 {
    max-width: 100% !important;
}

#term_and_report_container {
    flex-direction: row;
}

.sort_radio_item > label {
    text-align: center;
}

#mentions_container {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(232, 232, 232);
    /*padding: 10px !important;*/
    /*overflow-y: auto;*/

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

}

#mentions_container label {
    color: black;
}

.report_mentioned_term_black label {
    color: white !important;
}

#report_instance .makeStyles-grid-1 {
    margin: 0 !important;

}

/*#mentions_container div,*/
/*#mentions_container div div {*/
/*    padding: 0 !important;*/

/*}*/

.header {
    color: #fff;
    background-color: #1e88e5;
    padding: 10px 20px;
    margin: 0;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.main {
    padding: 15px 20px;
}

.section_heading {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border-left: 3px solid #D66061;
}

.current_patient {
    font-size: 20px;
    font-weight: bold;
}

.choose_patient_link {
    color: #fff;
}

/* Cohort Analysis */
.filters {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.results {
    border: 1px solid #ddd;
}

/* HTML div, not the svg */
#stage_patient_age,
#stage_patient_count,
#diagnosis,
#biomarkers,
#patients,
#patients2 {
    background: #fff;
    border: 1px solid #fff;
    /*margin:10px;*/
    /*padding:0px;*/
    /*float:left;*/
}

/* Minimize the text rendering inconsistency across browsers */
svg .tick text {
    font-family: Monaco, monospace;
    font-size: 10px;
}

/* Age selection */
.age_selection_brush .selection {
    stroke: #999;
    fill: dodgerblue;
    fill-opacity: 0.3;
}

.age_range {
    font-size: 10px;
    text-anchor: middle;
}

/* Box plot */
.single_patient_age_line,
.boxplot_min,
.boxplot_max,
.boxplot_median,
.boxplot_whisker,
.boxplot_box {
    stroke: #666;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.boxplot_whisker {
    stroke-dasharray: 3, 3; /* 3 pixels (or whatever they are) on and 3 pixels off */
    stroke: rgb(150, 150, 150);
}

.boxplot_box {
    fill: rgb(188, 189, 220);
}

.clicked_bar {
    fill-opacity: 0.8 !important;
}

.boxplot_text,
.single_patient_text {
    font-size: 10px;
    text-anchor: middle;
}

.stage_bar {
    fill-opacity: 0.3;
    stroke-width: 1;
    shape-rendering: crispEdges;
    cursor: pointer;
}

.top_stage_bar {
    fill: rgb(253, 174, 107);
    stroke: rgb(253, 174, 107);
}

.sub_stage_bar {
    fill: rgb(181, 207, 107);
    stroke: rgb(181, 207, 107);
}

.unknown_stage_bar {
    fill: #dcdcdc;
    stroke: #bbb;
}

.age_axis_label,
.count_axis_label {
    text-anchor: end;
    fill: #222;
}

.top_stage > text {
    cursor: pointer;
    fill: rgb(51, 102, 204);
}

/* Diagnosis chart */
.diagnosis_x_label {
    text-anchor: middle;
    cursor: default;
}

#diagnosis {
    text-align: center;

}

.diagnosis_x_label:hover {
    font-weight: bold;
    fill: rgb(230, 85, 13);
}

.diagnosis_guideline {
    stroke: rgb(253, 174, 107);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.highlighted_diagnosis_label {
    fill: rgb(230, 85, 13);
}

.slider {
    stroke: #999;
    stroke-opacity: .5;
    fill: dodgerblue;
    fill-opacity: 0.3;
}

.MuiGrid-item {
    padding: 0 0 0px 0px !important;
}

#reset_button {
    color: #264653;
    background-color: #dfe6e0 !important;
    padding: 5px 5px;
    border-radius: 5px;
    width: 250px;
    outline: 0;
    text-transform: uppercase;
    margin: 50px 0;
    cursor: pointer;
    box-shadow: 0 2px 2px lightgray;
    transition: ease background-color 250ms;
}

#results_title {
    padding: 20px;
    font-weight: 700;
    text-align: center;
}

.basicCard {
    font-size: 14px !important;
    padding: 0 !important;
    max-width: 511px !important;
}

.boxBasicHeader .span {
    margin-left: 10px;
}


.basicCardHeader {
    font-size: 14px;
    padding: 2px;
    /*text-align: center;*/
    background: #dfe6e0 !important;
    color: #264653;
    border-radius: 7px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.basicCardHeader .span {
    padding-left: 10px;
}

.basicCardHeader .MuiIconButton-root {
    position: absolute;
    left: 0;
    top: 5px;
}

.info_icon {
    fill: #666;
    font-size: 12px;
}

.info_icon:hover {
    fill: #000;
}


.navItem {
    border-radius: 7px;
    border-width: 1px;
    border-color: #f5f5f5;
    border-style: solid;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px !important;
    color: #f5f5f5 !important;
}

.mainFooter {
    background-color: #264653 !important;
    font-size: 12px !important;
    /*color: #f5f5f5 !important;*/
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 75px;
    text-align: center !important;
    padding-top: 30px;
    padding-bottom: 30px;

}

/*.mainFooter {*/
/*     whitesmoke; !important;*/
/*}*/

.mainFooter * {
    color: whitesmoke !important;
}

/*.col-text {*/
/*    color: red !important;*/
/*}*/


.mainFooter a {
    color: #44829b !important;
}

.mainNavBar * {
    color: whitesmoke !important;
}

.mainNavBar {
    font-size: 25px !important;
    color: #f5f5f5 !important;
    background-color: #264653 !important;
    margin-left: -15px;
    margin-right: -15px;
}

/* Target patients list */
#patients {
    padding-left: 26px;
}

.patient_list {
    /*text-align : center;*/

    /*margin:auto;*/
    /*padding:0;*/
}


.patient_list li {
    /*float:left;*/
    /*min-width: 100px;*/
    /*    width:20%;*/
    /*margin:2px 5px 2px 0;*/
}

.highlighted_target_patient_in_diagnosis {
    color: rgb(230, 85, 13);
}

.patient_list li a:hover {
    text-decoration: underline;
}

/* Biomarkers chart */
#biomarkers_overview {
    margin-bottom: 20px;
}

.stages_chart_title,
.diagnosis_chart_title,
.biomarkers_chart_title,
.patients_chart_title,
.patients_table_title {
    text-anchor: middle;
    font-size: 12px;
    font-weight: bold;
    color: white;
    /* https://stackoverflow.com/questions/12250403/vertical-alignment-of-text-element-in-svg */
    /* upper left corner of the text is the position of text */
    dominant-baseline: text-before-edge;
}


#patient_list {
    list-style-type: none;
}

#target_patients_title {
    margin-bottom: 8px;
}

#patients .MuiGrid-item {
    padding: 0 0 0 0 !important;
}


.biomarker_status_bar,
.biomarker_status_legend {
    fill-opacity: 0.3;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.biomarkers_overview_chart_bar_percentage,
.biomarker_status_percentage,
.biomarker_status_legend_text {
    font-size: 10px;
}

/* Vertical middle alignment */
.biomarkers_overview_chart_bar_percentage,
.biomarker_status_percentage {
    dominant-baseline: middle;
}

.biomarkers_chart_x_axis_label,
.biomarkers_chart_y_axis_label {
    text-anchor: end;
    fill: #222;
}

.biomarkers_chart_legend {
    text-anchor: end;
}

.biomarkers_overview_chart_bar {
    fill: steelblue;
    fill-opacity: 0.5;
    shape-rendering: crispEdges;
}

#summary > .container {
    margin-left: 0;
}

.cancer_and_tumor_summary {
    padding: 0;
    margin: 0 0;
    border: 0 solid #ddd;
}

.cancer_facts {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cancer_facts_item {
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 3px 0 1px;
}

.cancer_fact_category_name {
    float: left;
    margin-right: 3px;
}

/* No right margin on the last `cancer_facts_item` */
.cancer_facts > li:last-child {
    margin-right: 0;
}

.cancer_fact_list {
    display: table-cell;
    float: left;
}

.cancer_fact_list,
.cancer_tnm_fact_list,
.tumor_fact_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cancer_tnm_fact_list {
    float: left;
    margin-right: 8px;
    background: #fff;
    padding: 2px;
}

.tnm {
    margin-bottom: 2px;
}

.tnm_by_type {
    display: inline-block;
    margin-right: 20px;
}

.tnm_type {
    float: left;
    margin-right: 3px;
    padding-top: 2px;
}

.tumor_fact_list li {
    float: left;
    margin-right: 10px;
    padding: 0;
    color: #555;
}

.cancer_fact_list li,
.cancer_tnm_fact_list li {
    float: left;
    margin-right: 10px;
    padding: 0;
}

.cancer_fact_list li:last-child,
.cancer_tnm_fact_list li:last-child,
.tumor_fact_list li:last-child {
    margin-right: 0;
}

.fact {
    color: #0275d8;
    cursor: pointer;
    font-style: italic;
}

.fact:hover {
    text-decoration: underline;
}

/* Table */
/**
* Remove most spacing between table cells.
*/
body {
    background-color: #2a265d;
}

table {
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #dbdbdb;
}

td,
th {
    padding: 0;
}

.table {
    margin: 10px 0 20px;
}

.table th.th {
    padding: 3px;
    border: 1px solid #fff;
    /* The text in th are bold and centered by default. */
    text-align: left;
}

.table th.th_vertical {
    padding: 3px;
    border: 1px solid #fff;
    /* The text in th are bold and centered by default. */
    text-align: left;
}

.table td {
    padding: 3px;
    border: 1px solid #fff;
}

.table td.empty_cell {
    background: #e9ecef;
}

/* clearfix hack http://nicolasgallagher.com/micro-clearfix-hack/ */
/*.clearfix:before,*/
/*.clearfix:after {*/
/*    content: ""; !* 1 *!*/
/*    display: table; !* 2 *!*/
/*}*/

/*
.clearfix:after {
    !*clear: both;*!
}
*/


/* Fact */
.fact_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fact_list li {
    display: inline;
    margin-right: 10px;
    word-wrap: break-word;
}

.fact_list li:last-child {
    margin-right: 0;
}

.fact_info {
    display: inline-block;
    width: 100px;
    padding: 5px 10px;
}

.left {
    float: left;
    width: 860px;
    margin-right: 20px;
}

.cancer_id {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.cancer_and_tnm,
.tumor_summary {
    margin-left: 20px;
}

.right {
    #float: left;
    width: 860px;

}

.report_section {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
}


#timeline {
    background-color: #fff;
}

.divider {
    border-bottom: 1px solid #dbdbdb;
    /*margin: 0 10px;*/
}

/* Fact detail area */
#fact_detail {
    /*margin: 10px;*/
}

.fact_detail_list,
.fact_detail_list li ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fact_detail_list {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px;
}

.fact_detail_list li ul {
    float: left;
    display: inline;
}

.fact_detail_label {
    float: left;
    font-weight: bold;
    margin-right: 5px;
}

.fact_detail_list li {
    /*margin: 5px 10px;*/
}

/* Remove the margin of last child due to the bottom border of fact_detail_list */
.fact_detail_list li:last-child {
    margin-bottom: 0;
}

.fact_detail_list li ul li {
    float: left;
    margin: 0 10px 0 0;
}

.fact_detail_list li:last-child,
.fact_detail_list li ul li:last-child {
    margin-right: 0;
}

/* Grouped text mentions */
.grouped_text_provenance {
    width: 100%; /* display:block; doesn't work */
    padding: 2px 0;
}

.fact_detail_report_id {
    float: left;
    display: inline-block;
    margin-right: 10px;
}

.fact_based_report_id {
    cursor: pointer;
    font-weight: bold;
}

.current_displaying_report {
    color: orange;
}


/* Report content area */
#report_info {
    width: 218px;
    float: left;
    padding: 10px 5px 10px 10px;
}

#report_id {
    padding-left: 10px;
    margin-top: 15px !important;
    margin-bottom: 5px !important;
}

#report_text {
    position: relative; /* Must explicitly specify the position of this dive for dynamic scrolling */
    float: left;
    scrollbar-color: grey lightgrey;
    /*width: 600px;*/
    font-size: 14px;
    /*delete to revert*/
    width: auto;
    /*delete to revert*/
    padding: 10px 10px 10px 5px;
    overflow-y: scroll;
    font-family: Monaco, monospace;
    font-weight: normal;
    text-align: left;
    /* Whitespace is preserved by the browser. Text will wrap when necessary, and on line breaks */
    /* Using <pre> will cause horizontal scroll bar. We use CSS instead for a better rendering. */
    white-space: pre-wrap;
}

#scroll-line {
    position: fixed;
    top: 0;
    right: 0;
    width: 2px; /* Width of the line */
    background-color: red; /* Color of the line */
    z-index: 9999; /* Ensure it's above other content */
    /*display: none; !* Initially hide it *!*/
}

.colored_white_space {
    background: #a8d1ff;
}


.display_report_id {
    margin-left: 3px;
    font-weight: bold;
}

.filtered_concepts_list {
    list-style-type: none;
    font-size: 18px;
    font-family: Monaco, monospace;
    padding: 0;

    margin-top: 10px;
}

.sortPanel {
    position: relative;
    left: 200px;
    top: -60px;
}

.report_mentioned_term {
    margin: 0 5px 5px 0;
    padding: 3px 2px 0;
    cursor: pointer;
    font-family: Monaco, monospace;
    border-radius: 5px;
    float: left;
}

.example_text {
    font-weight: bolder !important;
}

#concepts_container {
    margin-top: -50px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    margin-bottom: 15px;

}

.dropdown-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/*.caret-options-container {*/
/*    !*width: 300px;*!*/
/*    visibility: hidden;*/
/*}*/

.caret-container {
    margin-left: 5px; /* Adjust the margin as needed */
}

.caret-custom {
    position: relative;
    top: -4px;
    float: right;
}

.SortTitle {
    font-size: 20px;
    font-family: Monaco, monospace;

}

.collapseTitle {
    font-size: 18px;
    font-family: Monaco, monospace;
    float: right;
    cursor: context-menu;

}

.line {
    height: 1px;
    background-color: #000; /* Adjust the color as needed */
    margin: 5px 0; /* Adjust the vertical margin as needed */
    flex-grow: 1;
    width: 257px;
}

.options-container {
    display: flex;
    align-items: center;
    width: 180px;
}


.hidden {
    display: none;
}

.checkbox2 label {
    color: inherit;

}

.checkbox-grid div {
    display: flex;
    align-items: center;

}

input[type="checkbox"] {
    margin-left: 4px;
    margin-right: 3px;
    width: 13px;
    height: 13px;
}


.report_mentioned_term_black {
    margin: 0 5px 5px 0;
    padding: 3px 2px 0;
    cursor: pointer;
    color: white !important;
    font-family: Monaco, monospace;
    background-image: linear-gradient(
            -100deg,
            #021a34,
            rgba(15, 16, 51, 0.7) 95%,
            rgba(47, 49, 61, 0.1)
    );
    border-radius: 5px;
    float: left;
}

/*
Emphasize shading more
 */
.report_mentioned_term_green {
    margin: 0 5px 5px 0;
    padding: 3px 2px 0;
    cursor: pointer;
    font-family: Monaco, monospace;
    background-image: linear-gradient(
            -100deg,
            #93e4c1,
            #3baea0,
            #118a7e
    );
    border-radius: 5px;
    float: left;
}

.report_mentioned_term_red {
    margin: 0 5px 5px 0;
    padding: 3px 2px 0;
    cursor: pointer;
    font-family: Monaco, monospace;
    background-image: linear-gradient(
            -100deg,
            #fecea8,
            #ff847c,
            #e84a5f
    );
    border-radius: 5px;
    float: left;
}

.slide_container {
    width: 100%; /* Width of the outside container */
}


.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
}

/*
white text with more shading
 */
.report_mentioned_term_grey {
    margin: 0 5px 5px 0;
    padding: 3px 2px 0;
    cursor: pointer;
    /*color: white;*/
    font-family: Monaco, monospace;
    background-image: linear-gradient(
            -100deg,
            #e7e6e1,
            #f7f6e7,
            #c1c0b9
    );
    border-radius: 5px;
    float: left;
}

.frequency {
    font-family: Monaco, monospace;
    font-weight: 400;
    color: inherit;
}

.popUp {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.popUp .popUpText {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 9999;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.popUp:hover .popUpText {
    visibility: visible;
    opacity: 1;
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}

.border-highlight {
    border-color: black !important;
}


.compact-radio-group .MuiFormControlLabel-root {
    margin-bottom: -15px !important;
    padding-left: 17px !important;
}

.compact-radio-group .MuiFormControlLabel-root:last-child {
    margin-bottom: -17px !important;
}

.titles {
    font-size: 18px;
    font-family: Monaco, monospace;
}

.confidence_title {
    font-size: 23px;
    font-family: Monaco, monospace;
}

/* BLOCK OF CODE: below used to create darker or lighter shades to represent frequency, currently unused*/

/*.report_mentioned_term_1 {*/
/*    margin: 0 5px 5px 0;*/
/*    padding: 3px 2px 0;*/
/*    cursor: pointer;*/
/*    background: linear-gradient(*/
/*            90deg,*/
/*            rgba(168, 209, 255, 0.6) 5%,*/
/*            rgba(109, 116, 199, 0.6) 45%,*/
/*            rgba(109, 116, 199, 0.6) 55%,*/
/*            rgba(168, 209, 255, 0.6) 95%);*/
/*    border-radius: 5px;*/
/*    float: left;*/
/*}*/

/*.report_mentioned_term_2 {*/
/*    margin: 0 5px 5px 0;*/
/*    padding: 3px 2px 0;*/
/*    cursor: pointer;*/
/*    background: linear-gradient(*/
/*            90deg,*/
/*            rgba(168, 209, 255, 0.6) 5%,*/
/*            rgba(109, 116, 199, 0.75) 45%,*/
/*            rgba(109, 116, 199, 0.75) 55%,*/
/*            rgba(168, 209, 255, 0.6) 95%);*/
/*    border-radius: 5px;*/
/*    float: left;*/
/*}*/

/*.report_mentioned_term_3 {*/
/*    margin: 0 5px 5px 0;*/
/*    padding: 3px 2px 0;*/
/*    cursor: pointer;*/
/*    background: linear-gradient(*/
/*            90deg,*/
/*            rgba(168, 209, 255, 0.6) 5%,*/
/*            rgba(109, 116, 199, 0.9) 45%,*/
/*            rgba(109, 116, 199, 0.9) 55%,*/
/*            rgba(168, 209, 255, 0.6) 95%);*/
/*    border-radius: 5px;*/
/*    float: left;*/
/*}*/

/*.report_mentioned_term_4 {*/
/*    margin: 0 5px 5px 0;*/
/*    padding: 3px 2px 0;*/
/*    cursor: pointer;*/
/*    background: linear-gradient(*/
/*            90deg,*/
/*            rgba(168, 209, 255, 0.6) 5%,*/
/*            rgba(109, 116, 199, 1) 45%,*/
/*            rgba(109, 116, 199, 1) 55%,*/
/*            rgba(168, 209, 255, 0.6) 95%);*/
/*    border-radius: 5px;*/
/*    float: left;*/
/*}*/


/*.firstWordHighlight {*/
/*    border-radius: 1em 0 1em 0;*/
/*    background-image: linear-gradient(*/
/*            -100deg,*/
/*            rgba(255, 224, 0, 0.2),*/
/*            rgba(255, 224, 0, 0.7),*/
/*            rgba(255, 224, 0, 0.1),*/
/*            #a8d1ff,*/
/*            rgba(109, 116, 199, 0.7),*/
/*            rgba(112, 121, 222, 0.1)*/
/*    );*/
/*}*/


/* Highlight the fact-based terms among all extracted terms */
.fact_based_term {
    background: #ffb7b7;
}

.mentioned_terms_list:last-child {
    margin-right: 0;
}

/*.highlight_terms {*/
/*    !*background: #a8d1ff;*!*/
/*    !*border-radius: 5px;*!*/
/*    border-radius: 1em 0 1em 0;*/
/*    background-image: linear-gradient(*/
/*            -100deg,*/
/*            #a8d1ff,*/
/*            rgba(109, 116, 199, 0.7) 95%,*/
/*            rgba(112, 121, 222, 0.1)*/
/*    );*/
/*}*/

.highlight_terms_grey {
    /*background: #a8d1ff;*/
    /*border-radius: 5px;*/
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(
            -100deg,
            #e7e6e1,
            #f7f6e7,
            #c1c0b9
    );
}

.highlight_terms_red {
    /*background: #a8d1ff;*/
    /*border-radius: 5px;*/
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(
            -100deg,
            #fecea8,
            #ff847c,
            #e84a5f
    );
}

.highlight_terms_green {
    /*background: #a8d1ff;*/
    /*border-radius: 5px;*/
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(
            -100deg,
            #93e4c1,
            #3baea0,
            #118a7e
    );
}

.highlight_terms_black {
    /*background: #a8d1ff;*/
    /*border-radius: 5px;*/
    border-radius: 1em 0 1em 0;
    color: white;
    background-image: linear-gradient(
            -100deg,
            #021a34,
            rgba(15, 16, 51, 0.7) 95%,
            rgba(47, 49, 61, 0.1)
    );
}

.highlight_terms {
    /*background: #a8d1ff;*/
    /*border-radius: 5px;*/
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    font-weight: bold;
    background-image: linear-gradient(
            -100deg,
            #edb1f1,
            #d59bf6,
            #9896f1
    );
}

.current_mentioned_term {
    background-image: linear-gradient(
            -100deg,
            rgba(255, 224, 0, 0.2),
            rgba(255, 224, 0, 0.7) 95%,
            rgba(255, 224, 0, 0.1)
    );
    border-radius: 5px;
}

.count {
    font-size: .85em;
}

.highlighted_term {
    /*display: inline-block;*/
    /*background: #FFDC00;*/
    /*border-radius: 5px;*/
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    font-weight: bold;

}


/* PatientEpisodeTimeline */
.episode_legend_circle,
.main_report_PE {
    fill-opacity: 0.3;
}

.episode_legend_text {
    font-size: 14px;
}

.hide {
    display: none;
}

.selected_episode_legend_circle {
    fill-opacity: 0 !important;
}

.selected_episode_legend_text {
    font-weight: bold;
}

.selected_report {
    fill-opacity: 1 !important;
    stroke: black !important;
    stroke-width: 2px !important;
    /*stroke-width: 6px;*/
}

.selected_report_temporal {
    fill: none !important; /* Transparent middle */
    stroke: red !important; /* Red outline */
    stroke-width: 2px !important;
}


.fact_highlighted_report {
    fill-opacity: 1 !important;
}

.main_report_PE:hover {
    fill-opacity: 1;
    /*stroke-width: 6px;*/
}

.overview_report {
    stroke: #fff;
}

/*.faded {*/
/*    opacity: 0.4;*/
/*    transition: opacity 0.3s ease;*/
/*}*/

/*.darkened {*/
/*    filter: brightness(0.3); !* or use fill/stroke changes if needed *!*/
/*}*/

.timeline_svg {
    display: block;
    max-width: 100%;
    height: auto;
}

.patient_episode_timeline_svg {
    width: 100%;
    overflow-x: auto;
}


.selected_report_temporal {
    stroke: black;
    stroke-width: 2px;
    fill: none;
}


.zoom_ER, .zoom_PE {
    fill: none;
    /*
    The pointer-events attribute allows authors to control whether or when an element may be the target of a mouse event
    https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
    Without this, the zoom won't work
    */
    pointer-events: visibleFill;
}

.main-x-axis,
.overview-x-axis {
    stroke-width: 0.5px;
    stroke: #888;
}

.main-x-axis > path,
.overview-x-axis > path {
    stroke: #888;
}

/* D3 brush creates the overlay rect with class="overlay" */
.brush .overlay {
    fill: #dbdbdb;
    fill-opacity: 0.3;
}

/* D3 brush creates the selected rect with class="selection" */
.brush .selection {
    stroke: #999;
    fill: dodgerblue;
    fill-opacity: 0.3;
}

.handle--custom {
    fill: #eee;
    stroke: #666;
    fill-opacity: 0.3;
    shape-rendering: crispEdges;
}

.legend_group_divider {
    stroke-width: 1px;
    stroke: #dbdbdb;
    shape-rendering: crispEdges;
}

.report_type_divider {
    stroke-width: 1px;
    shape-rendering: crispEdges;
    stroke: #666;
}

.encounter_age_guideline {
    stroke-width: 1px;
    shape-rendering: crispEdges;
    stroke: red;
}

.report_type_label,
.overview_label,
.age_label {
    font-size: 14px;
    text-anchor: end;
}

.encounter_age {
    font-size: 11px;
    fill: #444;
    text-anchor: middle;
}

/* Melanoma attributes present checkmark */
.present {
    color: red;
}

/* Breast cancer biomarkers, ER, PR, Her2 status */
.positive {

}

.negative {

}

.unknown {
    font-weight: bold;
    color: orange;
}

.relation-icon.selected {
    fill: rgb(49, 163, 84); /* or your intended fill color */
    /*fill-opacity: 1;*/

    /*stroke: black;*/
    /*stroke-width: 5px;*/
    stroke-opacity: 1;
}


.relation-icon.unselected {
    /*stroke-opacity: 0.75;*/
    /*fill-opacity: 0.75;*/
}


/* Tumor Summary */
.tumor_summary_title,
.view_options { /* Align the title and switch vertically */
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

/* Hide the table view and expanded arrow as well as all toggleable facts by default */
/*.table_view,*/
/*.fa-caret-down,*/
/*.toggleable {*/
/*    display: none;*/
/*}*/

.view_options {
    margin-left: 10px;
}

.view_options input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
}

.view_options label {
    float: left;
}

.view_options label {
    display: inline-block;
    width: 80px;
    /*background-color: #fff;*/
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: .85em;
    font-weight: normal;
    padding: 3px 10px 2px;
    border: 1px solid #ccc;
}

.view_options label:hover {
    cursor: pointer;
}

.semantic_label {
    /*font-weight: bold;*/
    font-size: 14px;
    padding: 3px;

}

.semantic_checkbox {
    margin-left: 3px;
}

/*.badge-container {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*.badge-icon {*/
/*    !*position: absolute;*!*/
/*    position: relative;*/
/*    top: -10px; !* Adjust as needed *!*/
/*    left:-7px;*/
/*    background-color: red;*/
/*    border-radius: 100%;*/
/*    padding: 0px 7px;*/
/*    font-size: 12px;*/
/*}*/
/*.badge-strike-icon {*/
/*    !*position: absolute;*!*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    top: -10px; !* Adjust as needed *!*/
/*    left:-4px;*/
/*    background-color: black;*/
/*    border-radius: 10%;*/
/*    padding: 0 2px;*/
/*    transform: rotate(30deg);*/
/*}*/

span.neg {
    position: relative;
    display: inline-block;
}

span.neg .icon {
    position: absolute;
    right: -9px;
    top: -65%;
    font-size: 120%;
    color: red;
    font-weight: bold;
}

.span-info {
    position: relative;
    cursor: context-menu;

}

.SplitPane .Resizer {
    background: #ddd;
    width: 5px; /* Width of the resizer handle */
    cursor: col-resize; /* Changes cursor to resize cursor */
    margin: 0 2px;
}

#report_instance {
    height: 100%;
}

/* styles.css */
.no-padding {
    padding: 0 !important;
}

/*.mentions_container {*/
/*    !*height: 100%;*!*/
/*    !*background-color: red; !* Or whatever background color you want *!*!*/
/*    ::-webkit-scrollbar {*/

/*        left: 0 !important;*/

/*    }*/
/*}*/

.custom-box {
    padding: 0 !important; /* Force padding to 0 */
    margin: 0 !important; /* Force margin to 0 */
}

#term_container2 {
    height: 100%; /* Ensure full height */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack items vertically */
}

#report_text {
    flex: 1; /* Ensure this panel also fills the available space */
    overflow: auto; /* Add scrolling if necessary */
}


.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center !important;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1 !important;
    bottom: 100%; /* Position above the span */
    margin-bottom: 5px !important;
    left: 50%;
    margin-left: -60px !important; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}


.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.span-info:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.view_options input:checked + label {
    background-color: rgb(141, 211, 199);
}

.view_options label:first-of-type {
    border-radius: 8px 0 0 8px;
}

.view_options label:last-of-type {
    border-radius: 0 8px 8px 0;
}

.list_view {
    background-color: #fff;
    padding: 10px 5px;
}

.arrow {
    display: inline-block;
    width: 8px;
}

.fa-caret-right {

}

.fa-caret-down {

}

.list_view_tumor_type {
    width: 100%;
    float: left;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.list_view_tumor_list {
    width: 100%;
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list_view_tumor_list li:last-child {
    margin-right: 0;
}

.list_view_tumor_list_item {
    float: left;
    height: 33px;
    margin-right: 3px;
    margin-bottom: 0;
    padding: 3px 2px 1px;
}

.highlighted_fact {
    text-decoration: underline;
    font-style: italic;
}

.list_view_tumor_fact_list {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list_view_tumor_fact_list li {
    display: inline;
    margin-right: 3px;
}

.table_view {
    overflow: auto;
}

.table_view .table {
    margin: 0;
}

/* Colors from https://bl.ocks.org/pstuffa/3393ff2711a53975040077b7453781a9 */
.topography_major,
.topography_minor {
    background: rgb(253, 208, 162);
}

.hasLaterality,
.laterality {
    background: rgb(253, 218, 236);
}

.hasDiagnosis,
.diagnosis {
    background: rgb(198, 219, 239);
}

.has_ER_Status,
.has_PR_Status,
.has_HER2_Status,
.er_,
.pr_,
her2 {
    background: rgb(229, 216, 189);
}

.hasTumorSize,
.hasRadiologicTumorSize,
.hasPathologicTumorSize,
.hasPathologicAggregateTumorSize,
.stage,
.grade,
.behavior,
.t,
.n,
.m,
.ki67,
.brca1,
.brca2,
.alk,
.egfr,
.braf,
.ros1,
.pdl1,
.msi,
.kras,
.psa,
.psa_el {
    background: rgb(204, 235, 197);
}

.hasClockface {
    background: rgb(218, 218, 235);
}

.hasHistologicType,
.histology {
    background: rgb(206, 219, 156);
}

.hasTumorExtent {
    background: rgb(255, 255, 204);
}

.unspecified {
    background: rgb(242, 242, 242);
}

.App {
    font-family: Monaco, monospace;
    text-align: center;
}

* {
    color: #393939;
}

svg#hsbarExample {
    border: 2px solid #363636;
    border-radius: 8px;
}

div.header {
    font-size: 24pt;
    background-color: #c6c6c6;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.footer {
    background-color: #c6c6c6;
    padding: 0;
    margin: 0;
}

div.footer > h4 {
    margin-bottom: 0;
    padding-top: 10px;
}

div.footer > div {
    display: flex;
    padding: 10px;
    justify-content: center;
}

div.footer > div > a {
    padding-left: 10px;
}

#hsbar {
    padding-bottom: 3px;
    padding-top: 3px;

}

.filter_center_rows {
    height: 47.3px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    padding: 0;
    align-items: center;
    border: 1px solid #f6f6f6;
}

.multi-range-slider {
    height: 38px !important;
    border: none !important;
    background: white !important;
    width: 85% !important;
    /*boxShadow: none !important;*/
    padding: 0 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.range-slider::before {
    left: 0;
    content: "Coming Soon";
    background: rgba(255, 255, 255, 0.59);
    color: #000;
    width: 100%;
    height: 100%;
    line-height: 2.5;
    font-weight: 600;
    position: absolute;
}

.multi-range-slider .thumb::before {
    box-shadow: none !important;
    width: 10px !important;
    height: 10px !important;
    margin: -2px -5px !important;
}

.multi-range-slider .labels {
    margin-top: 2px !important;
    font-size: 12px !important;
}
