
.cancer_and_tumor_summary {
    padding: 0;
    margin: 0 0;
    border: 0 solid #ddd;
}

.cancer_facts {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cancer_facts_item {
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 3px 0 1px;
}

.cancer_fact_category_name {
    float: left;
    margin-right: 3px;
}

/* No right margin on the last `cancer_facts_item` */
.cancer_facts > li:last-child {
    margin-right: 0;
}

.cancer_fact_list {
    display: table-cell;
    float: left;
}

.cancer_fact_list,
.cancer_tnm_fact_list,
.tumor_fact_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cancer_tnm_fact_list {
    float: left;
    margin-right: 8px;
    background: #fff;
    padding: 2px;
}

.tnm {
    margin-bottom: 2px;
}

.tnm_by_type {
    display: inline-block;
    margin-right: 20px;
}

.tnm_type {
    float: left;
    margin-right: 3px;
    padding-top: 2px;
}

.tumor_fact_list li {
    float: left;
    margin-right: 10px;
    padding: 0;
    color: #555;
}

.cancer_fact_list li,
.cancer_tnm_fact_list li {
    float: left;
    margin-right: 10px;
    padding: 0;
}

.cancer_fact_list li:last-child,
.cancer_tnm_fact_list li:last-child,
.tumor_fact_list li:last-child {
    margin-right: 0;
}

.fact {
    color: #0275d8;
    cursor: pointer;
    font-style: italic;
}

.fact:hover {
    text-decoration: underline;
}

.cancer_id {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.cancer_and_tnm,
.tumor_summary {
    margin-left: 20px;
}

.tumor_summary_title,
.view_options { /* Align the title and switch vertically */
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}


.list_view_tumor_type {
    width: 100%;
    float: left;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.list_view_tumor_list {
    width: 100%;
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list_view_tumor_list li:last-child {
    margin-right: 0;
}

.list_view_tumor_list_item {
    float: left;
    height: 33px;
    margin-right: 3px;
    margin-bottom: 0;
    padding: 3px 2px 1px;
}

.list_view_tumor_fact_list {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list_view_tumor_fact_list li {
    display: inline;
    margin-right: 3px;
}

.list_view {
    background-color: #fff;
    padding: 10px 5px;
}

.summary_layout {
    display: flex;
    height: 100%;
}

.summary_main {
    flex: 1;
    overflow-y: auto;
    padding-right: 16px;
}

.summary_side_panel {
    width: 320px;
    border-left: 1px solid #ddd;
    padding: 12px;
    background: #fafafa;
}

.side_panel_content {
    font-size: 14px;
    color: #444;
}



