
#NewControl {
    /*background: black;*/
}

svg[id$="-hs"] {
    flex: 3 0 30%;

}

.no_padding_grid {
    padding: 0px !important;
}

.switch_list {
    display: inline-grid;
    justify-content: right;
}

.cohort-size-label-container {

    padding: 0px 3px 0px 0px !important;
    display: table !important;

}

.cohort-size-label {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

#cohort-size-bar {
    height: inherit;
}

.cohort-size-bar-container {
    height: 45px;
    padding-bottom: 55px !important;

}

.cohort-size-bar-container .MuiGrid-item {
    height: inherit;
}

.filter-center-rows {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center;
}

.filter-inner-container {
    /*border: 2px solid #e5e5e5;*/
    border-radius: 4px;
    padding: 5px 5px !important;
    flex: 1 0 auto;
    /*flex-wrap: nowrap;*/
}

.filter-inner-container .MuiTypography-root {
    position: absolute;
    margin-left: 35px;
    margin-top: -10px;
}

.outer-filter-container {

}

.filter-control {
    padding: 1px 30px !important;
}

.switch-disabled {
    height: 35px !important;
}

#boolean-list-row .switch_label, #boolean-list-row .switch-toggle, #numeric-range-selector-row .switch_label, #numeric-range-selector-row .switch-toggle, #categorical-range-selector-row .switch_label, #categorical-range-selector-row .switch-toggle {
    margin: 0px 3px 0px 0px !important;
    margin-right: 2px;
}

#NewControl > div.rtl-rbklcn-MuiResponsiveChart-container > svg > g.MuiChartsAxis-root.MuiChartsAxis-directionY.MuiChartsAxis-left.rtl-1k2u9zb-MuiChartsAxis-root > g.MuiChartsAxis-label > text {
    font-size: 25px !important;
}

.switch-box {
    flex: 2 2 150px;
    font-size: 12px;
}

#boolean-list-row .switch {
    margin-right: 5px;
    align-items: center;

}

#numeric-range-selector-row .switch, #categorical-range-selector-row .switch {

    align-items: center;

}

.slider-container {

}


.cohort-size-label {
    padding: 0px 5px 0px 0px !important;
}

.cohort-size-label-container {
    padding: 0px 0px 0px 0px !important;
    display: flex;
    align-content: center;
}

.no-gutter {
    --bs-gutter-x: 0px !important;
    --bs-gutter-y: 0px !important;
}

.box-for-word-filter {
    --bs-gutter-x: 0px;
    --bs-gutter-y: 0px;
    width: auto !important;
    margin-left: 10px !important;
    line-height: 1em !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 27px !important;
    display: grid !important;
    align-items: center !important;
    align-content: center !important;
    margin-top: 10px !important;
}

.blue-border-for-word-filter {
    border: 1px solid blue;
}

.red-border-for-word-filter {
    border: 1px solid red;
}

.gray-border-for-word-filter {
    border: 1px solid gray;
}

#diagnosis-row, #agents-row {
    height: 47px !important;
}

.blue-plus {
    color: blue;
    font-size: 1.5em;
    cursor: pointer;
}

.red-plus {
    color: red;
    font-size: 1.5em;
    cursor: pointer;
}

.gray-plus {
    color: gray;
    font-size: 1.5em;
    cursor: pointer;

}

.overlay-row {
    background: #e4e4e4;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    opacitya: 0.4;
    pointera-events: none;

}

.overlay-row-container {
    width: 100%;
}

.filter-container {
    display: flex;
    flex-wrap: nowrap;
}


.discrete-list-container {
    flex: 2 0 66%
}

[id$="-hs-bar"] {
    flex: 1 0 33%
}

#top-charts {


}

.filter-list-container {
    display: flex;
    flex-wrap: wrap;
}

.filter-item {
    /*max-width: 300px !important;*/
}

.dp-filter-box-clockface > div > div:nth-child(1) {
    max-width: 100% !important;
}

.MuiChartsAxis-directionX .MuiChartsAxis-tickLabel {
    /*transform: translateX(40%) rotateZ(32deg)*/
}

.MuiChartsAxis-tickLabel {
    user-select: none;
}

.dp-bar-chart > div, .dp-bar-chart > div > svg {
    overflow: visible;
}

.Mui-selected {
    background-color: #1cff002b !important;
}

.filter-stack-bar {
    font-size: 14px;
    color: black !important;
    fill: black !important;
}

.newslider {
    margin-left: 50px;
    margin-right: 50px;
}

#NewControl > div.rtl-rbklcn-MuiResponsiveChart-container > svg {
    width: 80%;
}

.dp-filter-box {
    display: flex;
    flex-wrap: nowrap;
}